<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="fi.tv7.taivastv7">

    <uses-permission android:name="android.permission.INTERNET"/>
    <!--
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    -->

    <uses-feature
        android:name="android.hardware.touchscreen"
        android:required="false" />
    <uses-feature android:name="android.hardware.telephony"
        android:required="false"/>
    <uses-feature android:name="android.hardware.camera"
        android:required="false"/>
    <uses-feature android:name="android.hardware.nfc"
        android:required="false"/>
    <uses-feature android:name="android.hardware.location.gps"
        android:required="false"/>
    <uses-feature android:name="android.hardware.microphone"
        android:required="false"/>
    <uses-feature android:name="android.hardware.sensor"
        android:required="false"/>
    <uses-feature android:name="android.software.leanback"
        android:required="true" />

    <application
        android:name="fi.tv7.taivastv7.TaivasTv7"
        android:allowBackup="false"
        android:banner="@drawable/banner"
        android:icon="@mipmap/tv7_app_icon"
        android:logo="@mipmap/tv7_app_icon"
        android:label="@string/label"
        android:configChanges="keyboard|keyboardHidden|navigation"
        android:supportsRtl="true"
        android:theme="@style/AppTheme"
        android:versionCode="8"
        android:versionName="0.0.8"
        android:minSdkVersion="23"
        android:targetSdkVersion="29">
        <activity
            android:name="fi.tv7.taivastv7.activities.MainActivity"
            android:label="@string/label"
            android:banner="@drawable/banner"
            android:icon="@mipmap/tv7_app_icon"
            android:logo="@mipmap/tv7_app_icon"
            android:theme="@style/AppTheme"
            android:screenOrientation="landscape">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LEANBACK_LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>